<mat-toolbar class="background mat-elevation-z2">
  <div class="container">
    <button mat-button routerLink="/home" aria-label="Home">
      TrustEstate
    </button>
  </div>
  <span class="spacer"></span>
  <div class="container">
    <a mat-button routerLink="/home" aria-label="Home">Home</a>
    <a mat-button routerLink="/plot-detail" aria-label="Plot">Plot Detail</a>
    <a mat-button routerLink="/mint-plot" aria-label="Mint Plot">Mint Plot</a>
    <a mat-button routerLink="/create-proposal" aria-label="Create Proposal">Create Proposal</a>
    <a mat-button routerLink="/approve-proposal" aria-label="Approve Proposal">Approve Proposal</a>
  </div>
</mat-toolbar>

