<h2 mat-dialog-title>Create Split Proposal</h2>

<mat-dialog-content class="container">
<form [formGroup]="form">
  <div class="container">
    <div class="controls">
      <mat-form-field appearance="outline">
        <mat-label>IPFS Hash</mat-label>
        <input matInput formControlName="ipfsHash1">
      </mat-form-field>
      <mat-slide-toggle matInput formControlName="allowIndividualTransfer1">Allow Individual Transfer</mat-slide-toggle>

      <mat-card appearance="outlined" class="card">
        <mat-card-header>
          <mat-card-title>Add Owners</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-owner-control [(owners)]="owners1"></app-owner-control>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="controls">
      <mat-form-field appearance="outline">
        <mat-label>IPFS Hash</mat-label>
        <input matInput formControlName="ipfsHash2">
      </mat-form-field>
      <mat-slide-toggle matInput formControlName="allowIndividualTransfer2">Allow Individual Transfer</mat-slide-toggle>

      <mat-card appearance="outlined" class="card">
        <mat-card-header>
          <mat-card-title>Add Owners</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-owner-control [(owners)]="owners2"></app-owner-control>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close aria-label="Cancel">Cancel</button>
  <button mat-flat-button color="primary" aria-label="Transfer" (click)="onSubmitClick()">Transfer</button>
</mat-dialog-actions>
